<div class="relative overflow-x-auto rounded-lg border-2 border-stone-500">
    <table class="w-full text-left">
        <thead class="uppercase border-b border-stone-500 bg-stone-700">
            <tr>
                <th class="px-4 py-2"> Id </th>
                <th class="px-4 py-2"> Tracker </th>
                <th class="px-4 py-2"> Notes </th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b border-stone-600 hover:bg-stone-700">
                <th class="px-4 py-2">
                    1
                </th>
                <td class="px-4 py-2">
                    walk dog
                </td>
                <td class="px-4 py-2 whitespace-nowrap">
                    each time i take the dog out
                </td>
            </tr>
            <tr class="border-b border-stone-600 hover:bg-stone-700">
                <th class="px-4 py-2">
                    2
                </th>
                <td class="px-4 py-2">
                    brush teeth
                </td>
                <td class="px-4 py-2 whitespace-nowrap">
                    each time i brush my teeth
                </td>
            </tr>
            <tr class="hover:bg-stone-700">
                <th class="px-4 py-2">
                    3
                </th>
                <td class="px-4 py-2">
                    weight
                </td>
                <td class="px-4 py-2 whitespace-nowrap">
                    weight in pounds
                </td>
            </tr>
        </tbody>
    </table>
</div>