<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="tracker app">
    <title>Settings</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">

    <link rel="apple-touch-icon" sizes="180x180" href="../public/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/icon/favicon-16x16.png">
    <link rel="manifest" href="../public/icon/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    
    <link rel="stylesheet" href="../public/css/palette.css">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/layout.css">
    <link rel="stylesheet" href="../public/css/app.css">
    <link rel="stylesheet" href="../public/css/chroma.css">

    <script src="../public/js/htmx-v2.0.0.js"></script>
    <script>
        const head = document.getElementsByTagName('head')[0];
        const link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';

        // Set Theme
        const theme = localStorage.getItem("tracker_setting_theme")
        link.href = `../public/theme/${theme}`;
        if (theme) head.appendChild(link);
    </script>
</head>

<body class="tt-layout">

    <header class="tt-header flex items-center gap-4 pad-2">
        <button id="navShowButton" title="Toggle Sidebar / Nav (Ctrl+B)" class="tt-icon-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="4" x2="20" y1="12" y2="12" />
                <line x1="4" x2="20" y1="6" y2="6" />
                <line x1="4" x2="20" y1="18" y2="18" />
            </svg>
        </button>
        <div> Settings </div>
        <div class="mono dim"> </div>
        <div class="title grow"> </div>
        <button id="navSearchButton" hidden>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="11" cy="11" r="8" />
                <path d="m21 21-4.3-4.3" />
            </svg>
        </button>
    </header>

    <div>

        <nav id="navElement">
            <div class="tt-nav-heading">
                <h4> Page </h4>
            </div>

            <div class="tt-nav-links pad-2">
                <a href="./trackers"> All Trackers </a>
                <a href="./tracker-create"> Create Tracker </a>
                <a href="./tracker-info">Info</a>
                <a href="./tracker-log">Log</a>
                <a href="./tracker-records">Records</a>
                <a href="./tracker-history">History</a>
                <a href="./tracker-chart" hidden>Chart</a>
                <a href="./tracker-reminders" hidden>Reminders</a>
                <a href="./tracker-goals" hidden>Goals</a>
                <a href="./settings" class="active">Settings</a>
            </div>

            <hr>

            <div class="tt-nav-heading">
                <h4> Tracker </h4>
                <a href="./tracker-create" id="navCreateTracker" title="Create New Tracker"
                    class="dim tt-icon-button tt-color-green-hover">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14" />
                        <path d="M12 5v14" />
                    </svg>
                </a>
            </div>

            <div class="tt-nav-filter pad-2">
                <input type="search" id="navTrackerFilter" name="navTrackerFilter" placeholder="filter...">
                <label for="navTrackerFilter" title="Filter Tracker List">
                    <span hidden>Filter Trackers</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                        fill="currentColor" stroke="currentColor" stroke-width="1" stroke-linecap="round"
                        stroke-linejoin="round">
                        <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" />
                    </svg>
                </label>
            </div>

            <div id="navTrackerList" class="tt-nav-links pad-2">
                {{ range .Trackers }}
                <a href="./tracker-info?id={{.Id}}"> {{ .Name }} </a>
                {{ end }}
            </div>

            <script>
                const navElement = document.getElementById("navElement")
                const navShowButton = document.getElementById("navShowButton")
                navShowButton.addEventListener("click", () => {
                    localStorage.setItem("tracker_nav_hide", !navElement.hidden)
                    navElement.hidden = !navElement.hidden
                })

                if (localStorage.getItem("tracker_nav_hide") === "true") navElement.hidden = true
                if (document.body.offsetWidth < 800) navElement.hidden = true

                document.addEventListener('keydown', (event) => {
                    if (event.code === 'KeyB' && event.ctrlKey === true) {
                        event.preventDefault()
                        navElement.hidden = !navElement.hidden
                    }
                })
            </script>

            <script>
                const navTrackerList = document.getElementById("navTrackerList")
                const navTrackerFilter = document.getElementById("navTrackerFilter")
                if (navTrackerList.children.length < 12) {
                    navTrackerFilter.parentElement.hidden = true
                }
                navTrackerFilter.addEventListener("input", (event) => {
                    const filterText = event.target.value.toLowerCase()
                    for (const link of navTrackerList.children) {
                        const hide = !link.innerText.toLowerCase().includes(filterText)
                        link.hidden = hide
                    }
                })
            </script>

        </nav>

        <main id="mainElement">

            <section class="pad-4">

                <div class="grid">
                    <label for="settingTheme" class="tt-label"> Theme </label>
                    <select id="settingTheme" name="settingTheme" class="tt-input">
                        <option value="" selected>Auto (Default)</option>
                    </select>
                    <script>
                        const currentTheme = localStorage.getItem("tracker_setting_theme")
                        const settingThemeSelect = document.getElementById("settingTheme")

                        // Get all available themes
                        fetch("./public/theme").then(async (res) => {
                                const text = await res.text()
                                text.split("\n").forEach(line => {
                                    if (line.includes(`<a href=`)) {
                                        const t = line.split(`">`)[1].split(`</a>`)[0]
                                        const o = document.createElement("option")
                                        o.innerText = t
                                        o.value = t
                                        settingThemeSelect.appendChild(o)
                                    }
                                })

                                // Set the current theme as selected
                                for (const child of settingThemeSelect.children) {
                                    if (child.value == currentTheme) child.selected = true
                                    if (currentTheme === false) settingThemeSelect.children[0].selected = true
                                }
                            }).catch((err) => {
                                console.log(err)
                            })

                        settingThemeSelect.addEventListener("change", (event) => {
                            const theme = event.target.value
                            localStorage.setItem("tracker_setting_theme", theme)
                            if (theme === "") localStorage.removeItem("tracker_setting_theme")
                            location.reload()
                        })
                    </script>
                </div>

            </section>

        </main>

    </div>

</body>

</html>