<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="tracker app">
    <title>History / {{ .Tracker.Name }}</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">

    <link rel="stylesheet" href="../public/css/palette.css">

    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/layout.css">
    <link rel="stylesheet" href="../public/css/app.css">
    <link rel="stylesheet" href="../public/css/chroma.css">

    <script src="../public/js/htmx-v2.0.0.js"></script>
    <script>
        const head = document.getElementsByTagName('head')[0];
        const link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';

        // Set Theme
        const theme = localStorage.getItem("tracker_setting_theme")
        link.href = `../public/theme/${theme}`;
        if (theme) head.appendChild(link);
    </script>
</head>

<body class="tt-layout">
    <script>
        const dialogs = {}
    </script>

    {{ range $Entry := .Entries }}

    <dialog id="dialog_{{$Entry.Id}}">
        <script>
            dialogs["{{$Entry.Id}}"] = document.getElementById("dialog_{{$Entry.Id}}")
            dialogs["{{$Entry.Id}}"].addEventListener("click", (event) => {
                if (event.target === dialogs["{{$Entry.Id}}"]) dialogs["{{$Entry.Id}}"].close()
            })
        </script>
        <form method="post" action="/htmx/tracker/log-update?tracker_id={{$.Tracker.Id}}&entry_id={{$Entry.Id}}" class="tt-dialog grid gap-8 pad-4">

            <!-- <div class="flex-wrap flex-even break-md items-end gap-4" hidden>
                <div class="grid">
                    <label class="tt-label" for="date-1">Date</label>
                    <input type="date" class="tt-input" id="date-1" name="date-1" value="2024-07-07">
                </div>

                <div class="grid gap-1">
                    <label class="flex gap-2 w-full" for="time-1">
                        <div>Time</div>
                        <div id="timezone-1" class="dim" style="margin-left: auto;">GMT-0500 (Central Daylight Time)
                        </div>
                    </label>
                    <input type="time" class="tt-input" id="time-1" name="time-1" value="20:57">
                </div>
            </div> -->

            {{ range $Field := $.Tracker.Fields }}

            {{ if eq $Field.Type "number" }}
            <div class="grid">

                {{ range $Log := $Entry.Logs }}
                {{ if eq $Log.Field_Id $Field.Id }}
                <label class="tt-label" for="log_{{$Log.Id}}">{{ $Field.Name }}</label>
                <input type="number" class="tt-input" id="log_{{$Log.Id}}" name="log_{{$Log.Id}}"
                    step="{{ decimal_places_to_step_size $Field.Number.Decimal_Places }}" placeholder="0"
                    value="{{$Log.Present}}" required>
                {{ end }}
                {{ end }}

            </div>
            {{ end }}

            {{ if eq $Field.Type "option" }}
            <div class="grid">

                {{ range $Log := $Entry.Logs }}
                {{ if eq $Log.Field_Id $Field.Id }}
                <label class="tt-label" for="log_{{$Log.Id}}">{{ $Field.Name }}</label>
                <select class="tt-input" id="log_{{$Log.Id}}" name="log_{{$Log.Id}}" required>

                    {{ range $Option := $Field.Options }}
                    {{ if eq $Log.Option_Value $Option.Value }}
                    <option value="{{ $Option.Value }}" selected>{{ $Option.Value }}: {{ $Option.Name }}</option>
                    {{ else }}
                    <option value="{{ $Option.Value }}">{{ $Option.Value }}: {{ $Option.Name }}</option>
                    {{ end }}
                    {{ end }}

                </select>
                {{ end }}
                {{ end }}

            </div>
            {{ end }}

            {{ end }}

            <div class="grid">
                <label for="entry_note" class="tt-label">Note</label>
                <textarea id="entry_note" name="entry_note" placeholder="Log Note..." rows="4"
                    class="tt-input">{{ $Entry.Notes }}</textarea>
            </div>

            <div class="flex flex-even gap-4">
                <button type="button" id="add_field" class="tt-button"
                    onclick="document.getElementById('dialog_{{$Entry.Id}}').close()">
                    Close
                </button>
                <button type="submit" class="tt-button tt-color-yellow">
                    Update
                </button>
            </div>

        </form>
    </dialog>

    {{ end }}

    <header class="tt-header flex items-center gap-4 pad-2">
        <button id="navShowButton" title="Toggle Sidebar / Nav (Ctrl+B)" class="tt-icon-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="4" x2="20" y1="12" y2="12" />
                <line x1="4" x2="20" y1="6" y2="6" />
                <line x1="4" x2="20" y1="18" y2="18" />
            </svg>
        </button>
        <div> History </div>
        <div class="mono dim"> / </div>
        <div class="title grow"> {{ .Tracker.Name }} </div>
        <button id="navSearchButton" hidden>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="11" cy="11" r="8" />
                <path d="m21 21-4.3-4.3" />
            </svg>
        </button>
    </header>

    <div>

        <nav id="navElement">
            <div class="tt-nav-heading">
                <h4> Page </h4>
            </div>

            <div class="tt-nav-links pad-2">
                <a href="./trackers"> All Trackers </a>
                <a href="./tracker-create"> Create Tracker </a>
                <a href="./tracker-info?id={{.Tracker.Id}}">Info</a>
                <a href="./tracker-log?id={{.Tracker.Id}}">Log</a>
                <a href="./tracker-records?id={{.Tracker.Id}}">Records</a>
                <a href="./tracker-history?id={{.Tracker.Id}}" class="active">History</a>
                <a href="./tracker-chart?id={{.Tracker.Id}}" hidden>Chart</a>
                <a href="./tracker-log?id={{.Tracker.Id}}" hidden>Reminders</a>
                <a href="./tracker-goals?id={{.Tracker.Id}}" hidden>Goals</a>
                <a href="./settings">Settings</a>
            </div>

            <hr>

            <div class="tt-nav-heading">
                <h4> Tracker </h4>
                <a href="./tracker-create" id="navCreateTracker" title="Create New Tracker"
                    class="dim tt-icon-button tt-color-green-hover">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14" />
                        <path d="M12 5v14" />
                    </svg>
                </a>
            </div>

            <div class="tt-nav-filter pad-2">
                <input type="search" id="navTrackerFilter" name="navTrackerFilter" placeholder="filter...">
                <label for="navTrackerFilter" title="Filter Tracker List">
                    <span hidden>Filter Trackers</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                        fill="currentColor" stroke="currentColor" stroke-width="1" stroke-linecap="round"
                        stroke-linejoin="round">
                        <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" />
                    </svg>
                </label>
            </div>

            <div id="navTrackerList" class="tt-nav-links pad-2">
                {{ range .Trackers }}
                {{ if eq $.Tracker.Id .Id }}
                <a href="./tracker-history?id={{.Id}}" class="active"> {{ .Name }} </a>
                {{ else }}
                <a href="./tracker-history?id={{.Id}}"> {{ .Name }} </a>
                {{ end }}
                {{ end }}
            </div>

            <script>
                const navElement = document.getElementById("navElement")
                const navShowButton = document.getElementById("navShowButton")
                navShowButton.addEventListener("click", () => {
                    localStorage.setItem("tracker_nav_hide", !navElement.hidden)
                    navElement.hidden = !navElement.hidden
                })

                if (localStorage.getItem("tracker_nav_hide") === "true") navElement.hidden = true
                if (document.body.offsetWidth < 800) navElement.hidden = true

                document.addEventListener('keydown', (event) => {
                    if (event.code === 'KeyB' && event.ctrlKey === true) {
                        event.preventDefault()
                        navElement.hidden = !navElement.hidden
                    }
                })
            </script>

            <script>
                const navTrackerList = document.getElementById("navTrackerList")
                const navTrackerFilter = document.getElementById("navTrackerFilter")
                if (navTrackerList.children.length < 12) {
                    navTrackerFilter.parentElement.hidden = true
                }
                navTrackerFilter.addEventListener("input", (event) => {
                    const filterText = event.target.value.toLowerCase()
                    for (const link of navTrackerList.children) {
                        const hide = !link.innerText.toLowerCase().includes(filterText)
                        link.hidden = hide
                    }
                })
            </script>

        </nav>

        <main id="mainElement">

            <section class="grid gap-4 pad-4">

                <h1>History</h1>

                {{ range .Entries }}

                <hr>

                <div id="entry_{{.Id}}" class="grid gap-2">
                    <div class="flex items-center gap-4 dim">
                        <div class="grow">{{ .Timestamp }}</div>
                        <button id="edit_row_1" class="tt-icon-button dim tt-color-yellow-hover" title="Edit Log"
                            onclick="document.getElementById('dialog_{{.Id}}').showModal()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path
                                    d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
                                <path d="m15 5 4 4" />
                            </svg>
                        </button>
                        <a href="/htmx/tracker/log-delete?tracker_id={{$.Tracker.Id}}&entry_id={{.Id}}" class="tt-icon-button dim tt-color-red-hover"
                            onclick="return confirm('Are you sure you want to delete this log?')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path d="M3 6h18" />
                                <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
                                <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
                            </svg>
                        </a>
                    </div>

                    {{ range .Logs }}
                    <div class="flex items-center gap-4">
                        <div class="dim"> > </div>
                        <div>{{ .Present }}</div>
                        <label class="dim">{{ .Field_Name }}</label>
                    </div>
                    {{ end }}

                    <div class="grid gap-4"> {{ render_markdown .Notes }} </div>
                </div>

                <script>
                    var date = new Date(document.getElementById("entry_{{.Id}}").children[0].children[0].innerText)
                    var string = date.toLocaleString().replace(",", "")
                    document.getElementById("entry_{{.Id}}").children[0].children[0].innerText = string
                </script>

                {{ end }}

                <br><br>

            </section>

        </main>

    </div>

</body>

</html>