<!DOCTYPE html>
<html lang="en" style="color-scheme: dark;" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="tracker app">
    <title>Trackers</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-full font-sans bg-zinc-800 text-zinc-200 flex flex-col overflow-hidden">

    <nav class="text-zinc-200 bg-zinc-700 border-b-2 border-zinc-600 font-medium text-sm sm:text-base">
        <div class="max-w-lg mx-auto flex items-center gap-2 p-1">
            <a href="./trackers" class="px-3 p-1 rounded-md border-2 border-zinc-700 focus:outline-none focus:border-zinc-300 hover:bg-zinc-600 hover:text-zinc-100 flex items-center gap-3">
                <svg class="w-4 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor" viewBox="0 0 20 20"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/>
                </svg>
                Trackers
            </a>
        </div>
    </nav>

    <main class="p-4 max-w-lg w-full grow mx-auto flex flex-col gap-4 overflow-auto">
        <h1 class="text-4xl font-bold text-violet-300 sr-only">Trackers</h1>

        {{ range . }}
        {{ block "tracker-info" . }}
        <details id="details{{.Id}}" class="[&_svg]:open:-rotate-180 bg-zinc-700 border-2 border-zinc-600 rounded-lg">
            <summary class="w-full p-4 list-none flex cursor-pointer items-center gap-4 rounded-lg [&::-webkit-details-marker]:hidden focus:outline-none focus:ring-2 focus:ring-zinc-300">
                <div>
                    <h2 class="text-xl font-bold text-violet-300">{{ .Name }}</h2>
                    <div class="font-thin text-sm text-zinc-400">{{ .Notes }}</div>
                </div>
                <div class="ml-auto text-violet-300">
                    <svg class="rotate-0 transform transition-all duration-200" fill="none" height="24" width="24"
                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        viewBox="0 0 24 24">
                        <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                </div>
            </summary>
            <div class="flex p-2 px-4 flex-col gap-2">
                <h3 class="">Data Fields:</h3>
                {{ range .Fields }}
                <div class="flex flex-wrap items-center gap-4">
                    <div class="w-4"></div>
                    <div class="">{{ .Name }}</div>
                    <div class="font-thin text-sm text-zinc-400">{{ .Type }}</div>
                </div>
                {{ else }}
                <div class="flex flex-wrap items-center gap-4">
                    <div class="w-4"></div>
                    <div class="font-thin text-sm text-zinc-400">None...</div>
                </div>
                {{ end }}
            </div>
            <div class="flex p-4 w-full">
                <a href="./tracker/records?id={{.Id}}"
                    class="block text-sky-200 bg-sky-800 p-1 px-2 rounded-md border-2 border-sky-600 focus:outline-none focus:border-zinc-300">
                    View Records
                </a>
                <button
                    hx-get="/htmx/tracker/delete?id={{.Id}}"
                    hx-target="#details{{.Id}}"
                    hx-swap="outerHTML"
                    hx-confirm="Are you sure you want to delete this tracker?"
                    class="block ml-auto text-red-300 p-1 px-2 rounded-md focus:outline-none focus:ring-2 focus:ring-zinc-300"
                >
                    Delete Forever
                </button>
            </div>
        </details>
        {{ end }}

        {{ else }}
        <div>No Trackers...</div>
        {{ end }}

        <div class="w-full">
            <a href="./tracker-create" class="block p-1 px-2 text-green-300 ml-auto w-fit rounded-md focus:outline-none focus:ring-2 focus:ring-zinc-300">
                Create Tracker
            </a>
        </div>

    </main>

</body>

</html>