.mono {
    font-family: var(--font-family-mono);
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-sm {
    font-size: .875rem;
}

.border-bottom {
    border-bottom: var(--border);
}

/* Layout */

.tt-dialog {
    width: calc(100% - 1rem);
    max-width: 80ch;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.tt-dialog>* {
    height: 80svh;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--color-bg);
}

/* Select Icon */

select {
    padding-right: 1.5rem !important;
    background-image:
        linear-gradient(45deg, transparent 50%, var(--color-placeholder) 50%),
        linear-gradient(135deg, var(--color-placeholder) 50%, transparent 50%);
    background-position:
        calc(100% - (var(--padding-x) + 0.3rem)) center,
        calc(100% - (var(--padding-x))) center;
    background-size:
        .3rem .3rem,
        .3rem .3rem;
    background-repeat: no-repeat;
}

/* Inputs */

.tt-label {
    display: block;
    padding-bottom: 0.25rem;
    /* color: var(--color-placeholder); */
}

.tt-label-inline {
    display: inline;
    /* color: var(--color-placeholder); */
}

.tt-input {
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: var(--border);

    color: var(--color-text-input);
    background-color: var(--color-bg-input);
    border-color: var(--color-border-input);
}

select.tt-input {
    padding-right: 2rem;
}

input[type=file].tt-input {
    padding: 0;
}

.tt-input::file-selector-button {
    border-radius: 0;
    background-color: var(--color-bg-button);
}

.tt-button {
    padding: var(--padding);
    border: var(--border);
    border-radius: var(--border-radius);

    color: var(--color-text-button);
    background-color: var(--color-bg-button);
    border-color: var(--color-border-button);
}

.tt-text-button {
    padding: var(--padding);
    color: var(--color-text-button);
    border-radius: var(--border-radius);
}

.tt-icon-button {
    padding: 0.25rem;
    border: var(--border);
    border-radius: var(--border-radius);

    background-color: transparent;
    border-color: transparent;

    width: fit-content;
}

.tt-link {
    color: var(--color-text-link);
}

.tt-link:hover,
.tt-link:focus-visible {
    text-decoration: underline;
}

/* Checkboxes / Radio */

input[type=radio].tt-input,
input[type=checkbox].tt-input {
    appearance: none;

    display: inline-grid;
    place-content: center;
    padding: 0;

    width: 1.2em;
    height: 1.2em;
    vertical-align: baseline;

    color: var(--color-text-input);
    background-color: var(--color-bg-input);

    border: var(--border);
    border-color: var(--color-border);
}

input[type=radio].tt-input {
    border-radius: 50%;
}

input[type=checkbox].tt-input {
    border-radius: var(--border-radius);
}

input[type=radio].tt-input::before,
input[type=checkbox].tt-input::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    box-shadow: inset 1em 1em currentColor;
}

input[type=radio].tt-input::before {
    border-radius: 50%;
}

input[type=checkbox].tt-input::before {
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type=radio].tt-input:checked::before,
input[type=checkbox].tt-input:checked::before {
    transform: scale(1);
}

input[type=radio].tt-input:checked,
input[type=checkbox].tt-input:checked {
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
    border-color: var(--color-border-primary);
}

/* Color */

.dim {
    color: var(--color-placeholder)
}

.bright-hover:hover {
    color: var(--color-heading)
}

.tt-color-primary {
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
    border-color: var(--color-border-primary);
}

.tt-color-green {
    color: var(--color-text-green);
    background-color: var(--color-bg-green);
    border-color: var(--color-border-green);
}

.tt-color-yellow {
    color: var(--color-text-yellow);
    background-color: var(--color-bg-yellow);
    border-color: var(--color-border-yellow);
}

.tt-color-red {
    color: var(--color-text-red);
    background-color: var(--color-bg-red);
    border-color: var(--color-border-red);
}

@media (hover: hover) {

    .tt-color-primary-hover:focus-visible,
    .tt-color-primary-hover:hover {
        color: var(--color-text-primary);
        background-color: var(--color-bg-primary);
        border-color: var(--color-border-primary);
    }

    .tt-color-green-hover:focus-visible,
    .tt-color-green-hover:hover {
        color: var(--color-text-green);
        background-color: var(--color-bg-green);
        border-color: var(--color-border-green);
    }

    .tt-color-yellow-hover:focus-visible,
    .tt-color-yellow-hover:hover {
        color: var(--color-text-yellow);
        background-color: var(--color-bg-yellow);
        border-color: var(--color-border-yellow);
    }

    .tt-color-red-hover:focus-visible,
    .tt-color-red-hover:hover {
        color: var(--color-text-red);
        background-color: var(--color-bg-red);
        border-color: var(--color-border-red);
    }
}

/* Markdown */

.tt-markdown a {
    color: var(--color-text-link);
}

.tt-markdown a:hover,
.tt-markdown a:focus-visible {
    text-decoration: underline;
}

.tt-markdown blockquote {
    border-left: var(--border);
    border-left-width: 4px;
    padding-left: 1rem;
    color: var(--color-placeholder);
    background-color: var(--color-bg-input);
}

.tt-markdown ul {
    list-style: disc inside;
}

.tt-markdown ol {
    list-style: decimal inside;
}

.tt-markdown ol,
.tt-markdown ul,
.tt-markdown dl,
.tt-markdown dd {
    margin-left: 3rem;
}    

.tt-markdown>ol,
.tt-markdown>ul,
.tt-markdown>dl {
    margin-left: 1rem;
}

.tt-markdown li {
    line-height: 1.75;
}

.tt-markdown li::marker {
    color: var(--color-placeholder);
}

.tt-markdown ol li::before {
    white-space: pre;
    content: "  ";
}

.tt-markdown table {
    width: 100%;
}

.tt-markdown .chroma {
    color: var(--color-text-input);
    background-color: var(--color-bg-input);
    padding: 0.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    width: 100%;
    overflow: auto;
    font-size: 0.875rem;
}

.tt-markdown :not(.chroma) code {
    line-height: 1;

    font-size: var(--font-size-mono);
    font-family: var(--font-family-mono);
    
    padding: 2px 0.25rem;
    border: var(--border);
    border-radius: var(--border-radius);

    /* color: var(--color-text-input); */
    background-color: var(--color-bg-input);
}
