@view-transition {
    navigation: auto;
}

@media (prefers-reduced-motion) {
    @view-transition {
        navigation: none;
    }
}

.RED {
    border: var(--border);
    border-color: red;
}

.mono {
    font-family: var(--font-family-mono);
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-sm {
    font-size: .875rem;
}

.border-bottom {
    border-bottom: var(--border);
}

/* Layout */

.tt-layout {
    height: 100svh;
    display: flex;
    flex-direction: column;
}

.tt-layout>.tt-header {
    height: 3rem;
}

.tt-layout>div {
    display: flex;
    position: relative;
}

.tt-layout>div>main {
    flex-grow: 1;
    height: calc(100svh - 3rem);
    overflow: auto;
}

.tt-layout>div>main>section {
    flex-grow: 1;
    height: calc(100svh - 3rem);
    max-width: var(--max-width-main);
    margin-inline: auto;
}

.tt-layout>div>nav {
    min-width: 16rem;
    max-width: 36rem;
    border-right: var(--border);
    height: calc(100svh - 3rem);
}

@media (max-width: 800px) {
    .tt-layout>div>nav {
        width: 100%;
        max-width: unset;
        border-right: none;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        z-index: 99;
    }
}

dialog {
    width: calc(100% - 1rem);
    max-width: 80ch;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

/* Header */

.tt-header {
    border-bottom: var(--border);
    background-color: var(--color-bg-header);
    color: var(--color-text-heading);
}

.tt-header .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Nav */

.tt-layout>div>nav {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-header);
}



.tt-nav-heading {
    font-weight: bold;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding-bottom: 0;
}

.tt-nav-heading h4 {
    color: var(--color-placeholder);
    padding: 0.25rem;
    flex-grow: 1;
}

.tt-nav-filter {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.tt-nav-filter label {
    padding: 0.25rem;
    color: var(--color-placeholder);
    border: var(--border);
    border-radius: var(--border-radius);
    border-color: transparent;
}

.tt-nav-filter input {
    width: 100%;
    padding: 0.1rem var(--padding-x);

    color: var(--color-text-input);
    background-color: var(--color-bg);

    border: var(--border);
    border-radius: var(--border-radius);
}



.tt-nav-links {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.tt-nav-links a {
    padding: 0.1rem var(--padding-x);
    text-decoration: none;

    color: var(--color-text);

    border: var(--border);
    border-radius: var(--border-radius);
    border-color: transparent;
}

.tt-nav-links a.disabled {
    color: var(--color-placeholder);
    cursor: not-allowed;
}

.tt-nav-links a.active {
    color: var(--color-text-button);
    background-color: var(--color-bg-button);
    border-color: var(--color-border-button);
}

@media (hover: hover) {
    .tt-nav-links a:hover {
        background-color: var(--color-bg-button);
    }
}


#navTrackerList {
    height: 100%;
    height: 100px;
    flex-grow: 1;
    overflow: auto;
    padding: 0.25rem 0.5rem 0.5rem 0.5rem;
}

/* Select Icon */

select {
    padding-right: 1.5rem !important;
    background-image:
        linear-gradient(45deg, transparent 50%, var(--color-placeholder) 50%),
        linear-gradient(135deg, var(--color-placeholder) 50%, transparent 50%);
    background-position:
        calc(100% - (var(--padding-x) + 0.3rem)) center,
        calc(100% - (var(--padding-x))) center;
    background-size:
        .3rem .3rem,
        .3rem .3rem;
    background-repeat: no-repeat;
}

/* Inputs */

.tt-label {
    display: block;
    padding-bottom: 0.25rem;
    /* color: var(--color-placeholder); */
}

.tt-label-inline {
    display: inline;
    /* color: var(--color-placeholder); */
}

.tt-input {
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: var(--border);

    color: var(--color-text-input);
    background-color: var(--color-bg-input);
    border-color: var(--color-border-input);
}

select.tt-input {
    padding-right: 2rem;
}

input[type=file].tt-input {
    padding: 0;
}

.tt-input::file-selector-button {
    border-radius: 0;
    background-color: var(--color-bg-button);
}

.tt-button {
    padding: var(--padding);
    border: var(--border);
    border-radius: var(--border-radius);

    color: var(--color-text-button);
    background-color: var(--color-bg-button);
    border-color: var(--color-border-button);
}

.tt-text-button {
    padding: var(--padding);
    color: var(--color-text-button);
    border-radius: var(--border-radius);
}

.tt-icon-button {
    padding: 0.25rem;
    border: var(--border);
    border-radius: var(--border-radius);

    background-color: transparent;
    border-color: transparent;

    width: fit-content;
}

.tt-link {
    color: var(--color-text-link);
}

.tt-link:hover,
.tt-link:focus-visible {
    text-decoration: underline;
}

/* Checkboxes / Radio */

.tt-input-inline {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tt-input-inline>label {
    display: inline;
}

input[type=radio].tt-input,
input[type=checkbox].tt-input {
    appearance: none;

    display: inline-grid;
    place-content: center;
    padding: 0;

    width: 1.5em;
    height: 1.5em;
    vertical-align: baseline;

    color: var(--color-text-input);
    background-color: var(--color-bg-input);

    border: var(--border);
    border-color: var(--color-border);
}

input[type=radio].tt-input {
    border-radius: 50%;
}

input[type=checkbox].tt-input {
    border-radius: var(--border-radius);
}

input[type=radio].tt-input::before,
input[type=checkbox].tt-input::before {
    content: "";
    width: 0.8em;
    height: 0.8em;
    transform: scale(0);
    box-shadow: inset 1em 1em currentColor;
}

input[type=radio].tt-input::before {
    border-radius: 50%;
}

input[type=checkbox].tt-input::before {
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type=radio].tt-input:checked::before,
input[type=checkbox].tt-input:checked::before {
    transform: scale(1);
}



.tt-dialog {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--color-bg);
}

/* Color */

.dim {
    color: var(--color-placeholder)
}

.bright-hover:hover {
    color: var(--color-heading)
}

.tt-color-primary {
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
    border-color: var(--color-border-primary);
}

.tt-color-green {
    color: var(--color-text-green);
    background-color: var(--color-bg-green);
    border-color: var(--color-border-green);
}

.tt-color-yellow {
    color: var(--color-text-yellow);
    background-color: var(--color-bg-yellow);
    border-color: var(--color-border-yellow);
}

.tt-color-red {
    color: var(--color-text-red);
    background-color: var(--color-bg-red);
    border-color: var(--color-border-red);
}

@media (hover: hover) {

    .tt-color-primary-hover:focus-visible,
    .tt-color-primary-hover:hover {
        color: var(--color-text-primary);
        background-color: var(--color-bg-primary);
        border-color: var(--color-border-primary);
    }

    .tt-color-green-hover:focus-visible,
    .tt-color-green-hover:hover {
        color: var(--color-text-green);
        background-color: var(--color-bg-green);
        border-color: var(--color-border-green);
    }

    .tt-color-yellow-hover:focus-visible,
    .tt-color-yellow-hover:hover {
        color: var(--color-text-yellow);
        background-color: var(--color-bg-yellow);
        border-color: var(--color-border-yellow);
    }

    .tt-color-red-hover:focus-visible,
    .tt-color-red-hover:hover {
        color: var(--color-text-red);
        background-color: var(--color-bg-red);
        border-color: var(--color-border-red);
    }
}