/* Reset | Clear most default styles and spacing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Base */
html {
    color-scheme: dark;
    font-family: 'Rubik', helvetica, arial, sans-serif;
}

/* body {
    height: 100%;
    height: 100svh;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    /* border: 2px solid #5252aa; */
    /* outline: 2px solid #5252aa; */
    -webkit-text-fill-color: #e4e4ff;
    -webkit-box-shadow: 0 0 0px 1000px #3f3f5a inset;
}

select {
    appearance: none;
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px);
    background-size:
        5px 5px,
        5px 5px;
    background-repeat: no-repeat;
}
