/* --- --- --- Themes --- --- --- */

:root {
    --font-size: 16px;
    --font-size-sm: 14px;
    --font-size-mono: var(--font-size-sm);
    --font-family: 'Rubik', helvetica, arial, sans-serif;
    --font-family-mono: 'Fira Code', Menlo, Consolas, monospace;

    --line-height: 1.6;
    --max-p-width: 80ch;

    --border-width: 1.5px;
    --border-radius: 0.4rem;
    --border-radius-lg: 0.8rem;
    --border: var(--border-width) solid var(--color-border);
    --outline: var(--border-width) solid var(--color-outline);
    --box-shadow: var(--color-box-shadow) 4px 4px 16px 0px;

    --padding-x: 0.8rem;
    --padding-y: 0.4rem;
    --padding: var(--padding-y) var(--padding-x);

    --max-width-main: 80ch;

    /* Light */
    --color-bg: #FFFFFF;
    --color-text: var(--color-zinc-600);
    --color-border: var(--color-zinc-400);
    --color-outline: #000000;
    --color-box-shadow: #00000055;

    --color-bg-header: var(--color-zinc-100);
    --color-bg-header: hsl(240, 4%, 94%);
    --color-text-heading: #000000;

    --color-bg-button: var(--color-zinc-50);
    --color-text-button: var(--color-zinc-900);
    --color-border-button: var(--color-zinc-400);

    --color-bg-input: #FFFFFF;
    --color-text-input: var(--color-zinc-800);
    --color-border-input: var(--color-border);
    --color-placeholder: var(--color-zinc-500);

    --color-text-link: var(--color-purple-600);

    --color-bg-primary: var(--color-purple-100);
    --color-text-primary: var(--color-purple-900);
    --color-border-primary: var(--color-purple-500);

    --color-bg-green: var(--color-green-100);
    --color-text-green: var(--color-green-900);
    --color-border-green: var(--color-green-500);

    --color-bg-red: var(--color-red-100);
    --color-text-red: var(--color-red-900);
    --color-border-red: var(--color-red-500);

    --color-bg-yellow: var(--color-yellow-100);
    --color-text-yellow: var(--color-yellow-900);
    --color-border-yellow: var(--color-yellow-500);

    --filter-brightness-disable: brightness(75%);
    --filter-brightness-active: brightness(85%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: var(--color-zinc-800);
        --color-text: var(--color-zinc-300);
        --color-border: var(--color-zinc-700);
        --color-outline: var(--color-zinc-300);
        --color-box-shadow: #00000099;

        --color-bg-header: hsl(240, 4%, 13%);
        --color-text-heading: var(--color-zinc-200);

        --color-bg-button: hsl(240, 4%, 22%);
        --color-text-button: var(--color-zinc-200);
        --color-border-button: var(--color-zinc-600);

        --color-bg-input: hsl(240, 4%, 13%);
        --color-text-input: var(--color-zinc-300);
        --color-border-input: var(--color-border);
        --color-placeholder: var(--color-zinc-500);

        --color-text-link: var(--color-purple-300);

        --color-bg-primary: var(--color-purple-900);
        --color-text-primary: var(--color-purple-100);
        --color-border-primary: var(--color-purple-400);

        --color-bg-green: var(--color-green-900);
        --color-text-green: var(--color-green-100);
        --color-border-green: var(--color-green-400);

        --color-bg-red: var(--color-red-900);
        --color-text-red: var(--color-red-100);
        --color-border-red: var(--color-red-400);

        --color-bg-yellow: var(--color-yellow-900);
        --color-text-yellow: var(--color-yellow-100);
        --color-border-yellow: var(--color-yellow-400);

        --filter-brightness-disable: brightness(75%);
        --filter-brightness-active: brightness(85%);
    }
}

/* --- --- --- Base --- --- --- */

html {
    width: 100%;
    height: 100%;
    font-size: var(--font-size);
    font-family: var(--font-family);
    color-scheme: light dark;
}

body {
    height: 100%;
    height: 100dvh;
    color: var(--color-text);
    background-color: var(--color-bg);
    line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    color: var(--color-text-heading);
    overflow-wrap: break-word;
    text-wrap: balance;
    font-weight: bold;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h4,
h5,
h6 {
    font-size: 1rem;
}

p {
    max-width: var(--max-p-width);
    line-height: var(--line-height);
    overflow-wrap: break-word;
    text-wrap: pretty;
}

mark {
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
    border-left: 3px solid var(--color-bg-primary);
    border-right: 3px solid var(--color-bg-primary);
}

::selection {
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
}

hr {
    width: 100%;
    border: none;
    border-radius: 99px;
    height: var(--border-width);
    background-color: var(--color-border);
}

[hidden] {
    display: none !important;
}

/* --- --- --- Inputs --- --- --- */

a {
    color: var(--color-text-heading);
    text-underline-position: under left;
    text-decoration: none;
    border-radius: 1px;
}

label {
    display: block;
    font-size: var(--font-size-sm);
    font-weight: 500;
}

a,
input,
button,
select,
textarea {
    appearance: none;
    background-color: transparent;

    border: var(--border);
    border-color: transparent;

    /* stop double click zoom on iOS */
    touch-action: manipulation;
    /* stop browser click feedback */
    -webkit-tap-highlight-color: transparent;
}

textarea::-webkit-resizer {
    background-color: var(--color-placeholder);
    border-radius: 99px;
    border: 0.35rem solid var(--color-bg-input);
}

button,
select,
input[type=file],
input[type=reset],
input[type=button],
input[type=range],
input[type=radio],
input[type=date],
input[type=time],
input[type=checkbox],
input[type=submit] {
    cursor: pointer;

    /* prevent selecting text */
    user-select: none;
    -webkit-user-select: none;
}

input[type=date],
input[type=time] {
    appearance: none;
}

input[type=file] {
    padding: 0;
    font-size: var(--font-size-sm);
    padding-right: var(--padding-x);
}

::file-selector-button {
    cursor: pointer;
    border: none;
    font: inherit;
    font-size: 1rem;
    padding: var(--padding);
    margin-right: var(--padding-x);
    border-radius: var(--border-radius);

    color: var(--color-text-button);
    background-color: var(--color-bg-button);
}

select option,
optgroup {
    background: var(--color-bg);
}

a:focus-visible,
input:focus-visible,
button:focus-visible,
select:focus-visible,
textarea:focus-visible {
    border: var(--outline) !important;
    outline: var(--outline);
    outline-offset: -1px;
}

a:active,
button:active,
select:active,
input[type=file]:active,
input[type=reset]:active,
input[type=button]:active,
input[type=range]:active,
input[type=radio]:active,
input[type=date]:active,
input[type=time]:active,
input[type=checkbox]:active,
input[type=submit]:active {
    filter: var(--filter-brightness-active);
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;

    height: 16px;
    width: 16px;
    margin-left: .25rem;

    background-color: var(--color-placeholder);
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
}

::placeholder {
    color: var(--color-placeholder) !important;
}

:disabled,
:disabled:hover {
    filter: var(--filter-brightness-disable) grayscale(1);
    cursor: not-allowed;
}

/* Date + Time if iOS */

@supports (-webkit-touch-callout: none) {

    input[type="date"]::after,
    input[type="datetime-local"]::after,
    input[type="month"]::after,
    input[type="week"]::after {
        padding-left: var(--pad-x);
        content: "📅";
    }

    input[type="time"]::after {
        padding-left: var(--pad-x);
        content: "🕘";
    }
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
    outline-color: var(--color-outline);
    border-radius: var(--border-radius);
    padding: 0.25rem;
}

/* Tables */
table {
    width: auto;
    position: relative;
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: var(--padding);
    background-color: var(--color-bg);
    white-space: nowrap;
}

th {
    font-weight: bold;
    color: var(--color-text-heading);
}

td {
    border-top: var(--border);
}

tr:hover td {
    background-color: var(--color-bg-button);
}

@media (max-width: 650px) {

    th,
    thead {
        display: none;
    }

    tbody {
        display: grid;
        width: 100%;
    }

    tr {
        padding: 1rem 0;
        width: 100%;
        border-bottom: var(--border);
        /* background-color: var(--color-bg-input); */

        display: grid;
        gap: 0.25rem;
    }

    tr:last-child {
        border: none;
    }

    td {
        padding: 1rem;
        padding: 0;
        display: block;
        text-align: left !important;
        /* background-color: var(--color-bg-input); */
        display: grid;
        border: none;
        grid-template-columns: 8rem auto;
        align-items: center;
    }

    td::before {
        content: attr(data-cell);
        padding-right: 0.5rem;
        font-size: 0.875rem;
        color: var(--color-placeholder);
    }

    tr:hover td {
        background-color: unset;
    }
}

dialog {
    background-color: transparent;
    padding: 0;
    border: 0;
}

/* Safari Fallback */
dialog::backdrop {
    background-color: black;
    opacity: 0.75;
}

@supports (backdrop-filter: none) {
    dialog::backdrop {
        background-color: var(--color-box-shadow);
        backdrop-filter: blur(2px);
        opacity: 1;
    }
}

/* Scrollbar for Chrome and Safari */

::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

::-webkit-scrollbar-thumb {
    /* background-color: var(--color-border-grey); */
    box-shadow: inset 0 0 10px 10px var(--color-border-button);
    border: solid 0.25rem transparent;
    border-radius: 99px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-resizer {
    /* background: linear-gradient(135deg, transparent 0% 50%, var(--color-bg-header) 50% 100%); */
    /* background: var(--color-text-dim); */
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}