:root {
    color-scheme: dark;

    --max-width-main: 120ch;

    --color-bg: black;
    --color-text: var(--color-zinc-300);
    --color-border: var(--color-zinc-600);
    --color-outline: var(--color-zinc-300);
    --color-box-shadow: #00000099;

    --color-bg-header: var(--color-zinc-900);
    --color-bg-header: color-mix(in oklab, var(--color-bg) 90%, black);
    --color-text-heading: var(--color-zinc-200);

    --color-bg-button: color-mix(in oklab, var(--color-bg) 92%, white);
    --color-text-button: var(--color-zinc-200);
    --color-border-button: var(--color-zinc-600);

    --color-bg-input: color-mix(in oklab, var(--color-bg) 90%, black);
    --color-text-input: var(--color-zinc-300);
    --color-border-input: var(--color-border);
    --color-placeholder: var(--color-zinc-500);

    --color-text-link: var(--color-purple-300);

    --color-bg-primary: var(--color-purple-950);
    --color-text-primary: var(--color-purple-100);
    --color-border-primary: var(--color-purple-400);

    --color-bg-green: var(--color-green-950);
    --color-text-green: var(--color-green-100);
    --color-border-green: var(--color-green-400);

    --color-bg-red: var(--color-red-950);
    --color-text-red: var(--color-red-100);
    --color-border-red: var(--color-red-400);

    --color-bg-yellow: var(--color-yellow-950);
    --color-text-yellow: var(--color-yellow-100);
    --color-border-yellow: var(--color-yellow-400);

    --filter-brightness-disable: brightness(75%);
    --filter-brightness-active: brightness(85%);
}