{{ define "app_body" }}

<style>
    main {
        height: calc(100svh - 3rem);
        scroll-padding-top: 1rem;
    }
    main>* {
        height: 100%;
        margin-inline: auto;
        max-width: var(--max-width-main);
    }
    #app_body__skip {
        display: block !important;
        position: fixed;
        top: 1rem;
        left: 1rem;
        right: 1rem;
        z-index: 99;
        box-shadow: 0px 0px 8px 4px black;
        translate: 0 -400%;
    }
    #app_body__skip:focus-visible {
        translate: 0;
    }
</style>

<body class="flex-col" style="height: 100svh;">
    <a href="#main-content" id="app_body__skip" class="tt-button" style="position: fixed; display: none;">Skip to main content</a>
    {{ template "app_header" . }}
    <div class="flex" style="position: relative;">
        {{ template "app_nav" . }}
        <main id="main-content" tabindex="0" class="grow overflow" style="height: calc(100svh - 3rem);">
            {{ template "app_page" . }}
        </main>
    </div>
</body>

{{ end }}