{{ define "app_head" }}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="tracker app">
    <title>{{ .Title }}</title>
    <link rel="icon" type="image/x-icon" href="../public/favicon.ico">

    <!-- PWA Stuff -->
    <link rel="apple-touch-icon" sizes="180x180" href="../public/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/icon/favicon-16x16.png">
    <link rel="manifest" href="../public/icon/manifest.json">
    <meta name="mobile-web-app_capable" content="yes">
    <meta name="apple-mobile-web-app_status-bar-style" content="#000000">

    <!-- CSS -->
    <link rel="stylesheet" href="../public/css/palette.css">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/layout.css">
    <link rel="stylesheet" href="../public/css/app.css">
    <link rel="stylesheet" href="../public/css/chroma.css">

    <!-- Set CSS Theme -->
    <script>
        const theme = localStorage.getItem("tracker_setting_theme")
        const head = document.getElementsByTagName('head')[0]
        const link = document.createElement('link')
        link.rel = 'stylesheet'
        link.type = 'text/css'
        link.href = `../public/theme/${theme}`
        if (theme) head.appendChild(link)
    </script>

    <!-- JS -->
    <script src="../public/js/htmx-v2.0.0.js"></script>
    <script src="../public/js/mix.js"></script>

</head>

{{ end }}