{{ define "app_header" }}

<header class="tt-header flex items-center gap-4 pad-2">

    <button id="navShowButton" idz="app_header__nav_show" class="tt-icon-button" title="Toggle Sidebar / Nav (Ctrl+B)">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="4" x2="20" y1="12" y2="12" />
            <line x1="4" x2="20" y1="6" y2="6" />
            <line x1="4" x2="20" y1="18" y2="18" />
        </svg>
    </button>

    <div id="app_header__title" class="flex items-center gap-4">
        {{ .Title }}
    </div>

    <button id="app_header__search" class="tt-icon-button" hidden>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8" />
            <path d="m21 21-4.3-4.3" />
        </svg>
    </button>

</header>

<script>
    const app_header__title = document.getElementById("app_header__title")
    app_header__title.innerHTML = app_header__title.innerHTML.replaceAll("/", '<div class="mono dim"> / </div>')
</script>

{{ end }}