{{ define "app_header" }}

<style>
    .app_header_header {
        height: 3rem;
        color: var(--color-text-heading);
        border-bottom: var(--border);
        background-color: var(--color-bg-header);
    }

    #app_header__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<header class="app_header_header flex items-center gap-4 pad-2">

    <button id="navShowButton" idz="app_header__nav_show" class="tt-icon-button" title="Toggle Sidebar / Nav (Ctrl+B)">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="4" x2="20" y1="12" y2="12" />
            <line x1="4" x2="20" y1="6" y2="6" />
            <line x1="4" x2="20" y1="18" y2="18" />
        </svg>
    </button>

    <div id="app_header__title" class="flex items-center gap-4 grow">
        {{ .Title }}
    </div>

    <button id="app_header__logout" class="tt-icon-button dim bright-hover" title="logout">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/>
            <polyline points="16 17 21 12 16 7"/>
            <line x1="21" x2="9" y1="12" y2="12"/>
        </svg>
    </button>

</header>

<script>
    const app_header__title = document.getElementById("app_header__title")
    app_header__title.innerHTML = app_header__title.innerHTML.replaceAll("/", '<div class="mono dim"> / </div>')
    
    const app_header__logout = document.getElementById("app_header__logout")
    app_header__logout.addEventListener("click", (event) => {
        const name = "token"
        document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        location.reload()
    })
</script>

{{ end }}