{{ define "content_view" }}

<style>
    .content_container {
        position: relative;
    }

    .content_container button {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;

        color: var(--color-placeholder);
        background-color: var(--color-bg);
        border-color: var(--color-border);
    }

    .content_container button:focus-visible,
    .content_container button:hover {
        color: var(--color-text-red);
        background-color: var(--color-bg-red);
        border-color: var(--color-border-red);
    }

    .content_container img {
        object-fit: cover;
        object-position: left top;
        background-color: black;

        height: 16rem;
        width: 100%;

        border: var(--border);
        border-radius: var(--border-radius);
    }
</style>

<div class="grid-auto-sm gap-4">

    {{ range $Content := .Content_List }}

    <div class="content_container">

        <button class="tt-icon-button" title="Delete File" hx-target="closest div" hx-swap="delete"
            hx-delete="{{ $Content.Url }}"
            hx-confirm="Please confirm the file '{{ $Content.Name }}' should be deleted">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M3 6h18" />
                <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
                <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
            </svg>
        </button>

        <img src="{{ $Content.Url }}" title="{{ $Content.Name }}"></img>

    </div>

    {{ end }}

</div>


{{ end }}