{{ define "enter_password" }}

<form action="/htmx/token" method="post" id="enter_password" class="grid gap-4">
    <br><br>
    <div class="grid">
        <label for="password" class="tt-label"> Password </label>
        <input type="password" id="password" name="password" value=""
            placeholder="password" class="tt-input" autofocus >
    </div>
    <input type="submit" value="Login" class="tt-button tt-color-primary-hover" />
</form>

<style>
    #enter_password {
        width: 100%;
        max-width: 60ch;
        margin-inline: auto;
    }
</style>

{{ end }}