{{ define "entry_create" }}

<form hx-post="/htmx/entry/create?tracker_id={{$.Tracker.Id}}" hx-target="#entry_create__response"
    id="entry_create__form" class="h-full flex-col gap-4 overflow">

    <!-- datetime -->
    <div class="flex-wrap flex-even break-md items-end gap-4">
        <div class="grid gap-1">
            <label class="tt-label" for="entry_create__entry_date">Date</label>
            <input type="date" class="tt-input" id="entry_create__entry_date" name="entry_date">
        </div>

        <div class="grid gap-1">
            <label class="flex gap-2 w-full" for="entry_create__entry_time">
                <div class="grow">Time</div>
                <div id="entry_create__entry_timezone_string" class="dim"></div>
            </label>
            <input type="time" class="tt-input" id="entry_create__entry_time" name="entry_time" step="1">
        </div>

        <div class="grid gap-1" hidden>
            <label class="flex gap-2 w-full" for="entry_create__entry_time">Timezone Offset</label>
            <input type="text" class="tt-input" id="entry_create__entry_timezone" name="entry_timezone">
        </div>

        <script>
            const date = new Date()

            let yyyy = date.getFullYear()
            let dd = date.getDate()
            let mm = date.getMonth() + 1 // january is 0

            if (dd < 10) dd = '0' + dd
            if (mm < 10) mm = '0' + mm

            const today_date = yyyy + '-' + mm + '-' + dd
            document.getElementById("entry_create__entry_date").value = today_date

            let hh = date.getHours()
            let mmm = date.getMinutes()
            let sec = date.getSeconds()

            if (hh < 10) hh = '0' + hh
            if (mmm < 10) mmm = '0' + mmm
            if (sec < 10) sec = '0' + sec

            const today_time = hh + ':' + mmm + ':' + sec
            document.getElementById("entry_create__entry_time").value = today_time

            const today_timezone = date.toTimeString().substring(9)
            document.getElementById("entry_create__entry_timezone_string").innerText = today_timezone

            const tz = date.toTimeString().substring(12, 17)
            document.getElementById("entry_create__entry_timezone").value = tz
        </script>
    </div>

    <!-- fields -->
    {{ range .Tracker.Fields }}
    {{ if eq .Type "number" }}
    <div class="grid gap-1">
        <label class="tt-label" for="entry_create__field_{{.Id}}">{{ .Name }}</label>
        <input type="number" class="tt-input" id="entry_create__field_{{.Id}}" name="field_{{.Id}}" placeholder="0"
            value="" step="{{ decimal_places_to_step_size .Number.Decimal_Places }}" required>
    </div>
    {{ end }}
    {{ if eq .Type "option" }}
    <div class="grid gap-1">
        <label class="tt-label" for="entry_create__field_{{.Id}}">{{ .Name }}</label>
        <select class="tt-input" id="entry_create__field_{{.Id}}" name="field_{{.Id}}" required>
            {{ range .Options }}
            <option value="{{ .Value }}">{{ .Value }}: {{ .Name }}</option>
            {{ end }}
        </select>
    </div>
    {{ end }}
    {{ end }}

    <!-- notes -->
    <div class="grow flex-col gap-1">
        <div class="flex gap-4 items-end">
            <label for="entry_create__textarea" class="tt-label grow" title="In Monaco (VS Code) use Ctrl+M to toggle Tabbing to the next element">Notes</label>
            <button id="entry_create__toggle_word_wrap" class="tt-icon-button dim tt-color-primary-hover" hidden>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="3" x2="21" y1="6" y2="6" />
                    <path d="M3 12h15a3 3 0 1 1 0 6h-4" />
                    <polyline points="16 16 14 18 16 20" />
                    <line x1="3" x2="10" y1="18" y2="18" />
                </svg>
            </button>
            <button id="entry_create__toggle_line_numbers" class="tt-icon-button dim tt-color-primary-hover" hidden>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M10 12h11" />
                    <path d="M10 18h11" />
                    <path d="M10 6h11" />
                    <path d="M4 10h2" />
                    <path d="M4 6h1v4" />
                    <path d="M6 18H4c0-1 2-2 2-3s-1-1.5-2-1" />
                </svg>
            </button>
            <button id="entry_create__toggle_monaco" class="tt-icon-button dim tt-color-yellow-hover">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="16 18 22 12 16 6" />
                    <polyline points="8 6 2 12 8 18" />
                </svg>
            </button>
            <button id="entry_create__fullscreen_notes" class="tt-icon-button dim tt-color-red-hover">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M8 3H5a2 2 0 0 0-2 2v3" />
                    <path d="M21 8V5a2 2 0 0 0-2-2h-3" />
                    <path d="M3 16v3a2 2 0 0 0 2 2h3" />
                    <path d="M16 21h3a2 2 0 0 0 2-2v-3" />
                </svg>
            </button>
        </div>
        <textarea name="entry_notes" id="entry_create__textarea" class="tt-input grow"></textarea>
        <div id="entry_create__monaco" class="grow" hidden>
            {{ template "monaco" . }}
        </div>
        <button id="entry_create__fullscreen_notes_exit" class="tt-icon-button dim tt-color-red-hover" hidden>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M18 6 6 18" />
                <path d="m6 6 12 12" />
            </svg>
        </button>
        <style>
            #entry_create__textarea {
                border: var(--border) !important;
                outline: none !important;
                resize: none;
            }

            #entry_create__fullscreen_notes_exit {
                position: fixed;
                top: 1rem;
                right: 2rem;
                z-index: 100;
            }
        </style>
        <script>
            const entry_create__monaco = document.getElementById("entry_create__monaco")
            const entry_create__textarea = document.getElementById("entry_create__textarea")

            entry_create__textarea.addEventListener("input", event => {
                monaco__value_set(entry_create__textarea.value)
            })

            monaco__value_oninput((event) => {
                entry_create__textarea.value = monaco__value_get()
            })

            let entry_create__word_wrap = false
            let entry_create__line_numbers = false
            const entry_create__toggle_word_wrap = document.getElementById("entry_create__toggle_word_wrap")
            const entry_create__toggle_line_numbers = document.getElementById("entry_create__toggle_line_numbers")

            entry_create__toggle_word_wrap.addEventListener("click", event => {
                event.preventDefault()
                entry_create__word_wrap = !entry_create__word_wrap
                monaco__word_wrap_set(entry_create__word_wrap)
            })

            entry_create__toggle_line_numbers.addEventListener("click", event => {
                event.preventDefault()
                entry_create__line_numbers = !entry_create__line_numbers
                monaco__line_numbers_set(entry_create__line_numbers)
            })

            const entry_create__toggle_monaco = document.getElementById("entry_create__toggle_monaco")
            const entry_create__fullscreen_notes = document.getElementById("entry_create__fullscreen_notes")
            const entry_create__fullscreen_notes_exit = document.getElementById("entry_create__fullscreen_notes_exit")

            entry_create__toggle_monaco.addEventListener("click", event => {
                event.preventDefault()
                entry_create__monaco.hidden = !entry_create__monaco.hidden
                entry_create__textarea.hidden = !entry_create__textarea.hidden
                entry_create__toggle_word_wrap.hidden = !entry_create__toggle_word_wrap.hidden
                entry_create__toggle_line_numbers.hidden = !entry_create__toggle_line_numbers.hidden
            })

            entry_create__fullscreen_notes.addEventListener("pointerdown", event => {
                event.preventDefault()
                event.stopPropagation()
                if (entry_create__monaco.hidden) {
                    entry_create__textarea.classList = "tt-input overlay"
                } else {
                    entry_create__monaco.classList = "overlay"
                }
                entry_create__fullscreen_notes_exit.hidden = false
            })

            entry_create__fullscreen_notes_exit.addEventListener("pointerdown", event => {
                event.preventDefault()
                event.stopPropagation()
                if (entry_create__monaco.hidden) {
                    entry_create__textarea.classList = "tt-input grow"
                } else {
                    entry_create__monaco.style.height = "100px"
                    entry_create__monaco.classList = "grow"
                    setTimeout(() => {
                        entry_create__monaco.style.height = "100%"
                    }, 50)
                }
                entry_create__fullscreen_notes_exit.hidden = true
            })
        </script>
    </div>

    <!-- content -->
    <div class="grid gap-1" hidden>
        <label for="entry_create__content" class="tt-label" title="content that has been uploaded">Content</label>
        <div id="entry_create__content" class="flex-wrap items-start gap-4">
            <!-- <a href="/content/2024-10-26_13:09:40.png" target="_blank" class="flex items-start gap-2"
                style="background-image: linear-gradient(rgba(0, 0, 0, var(--darken-amount)), rgba(0, 0, 0, var(--darken-amount))), url('/content/2024-10-26_13:09:40.png');"
                title="/content/2024-10-26_13:09:40.png">
                <button class="tt-icon-button" style="margin-left: auto;" hx-target="closest a" hx-swap="delete"
                    hx-delete="/content/2024-10-26_13:09:40-copy.png"
                    hx-confirm="Please confirm the file '2024-10-26_13:09:40.png' should be deleted"
                    title="Delete File">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M3 6h18" />
                        <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
                        <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
                    </svg>
                </button>
            </a> -->
        </div>
        <style>
            #entry_create__content>a {
                width: 120px;
                height: 80px;
                border: var(--border);
                border-radius: var(--border-radius);
                padding: 0.5rem;
                background-color: black;
                background-size: cover;
                background-position: left top;
                --darken-amount: 0;
            }

            #entry_create__content>a:focus-visible,
            #entry_create__content>a:hover {
                --darken-amount: 0.5;
            }

            #entry_create__content>a>button {
                color: transparent;
            }

            #entry_create__content>a:focus-visible button,
            #entry_create__content>a:hover button {
                color: var(--color-text-button);
                background-color: var(--color-bg-button);
                border-color: var(--color-border-button);
            }

            #entry_create__content>a button:focus-visible,
            #entry_create__content>a button:hover {
                color: var(--color-text-red);
                background-color: var(--color-bg-red);
                border-color: var(--color-border-red);
            }
        </style>
        <script>
            const entry_create__form = document.getElementById("entry_create__form")
            const entry_create__content = document.getElementById("entry_create__content")
            entry_create__form.addEventListener("paste", async (event) => {
                if (!entry_create__monaco.hidden) event.preventDefault() // so this triggers
                const items = (event.clipboardData || event.originalEvent.clipboardData).items
                for (let index in items) {
                    const item = items[index]
                    if (item.kind === "file") {

                        // Upload file
                        const blob = item.getAsFile()
                        const res = await fetch("/content-upload", {
                            method: "POST",
                            body: blob
                        })

                        // Wait for file path
                        const path = await res.text()
                        console.log("path", path)

                        // Add thumbnail for uploaded content 
                        entry_create__add_content(path)

                        // Insert Markdown Link into entry_notes
                        let paste_text = ""

                        if (path.endsWith(".png")) {
                            paste_text = `![image](${path})`
                        } else if (path.endsWith(".mp4")) {
                            paste_text = `<video controls><source src="${path}" type="video/mp4"></video>`
                        } else if (path.endsWith(".pdf")) {
                            const text = `<object data="${path}" type="application/pdf" width="800px" height="800px">
                                <embed src="${path}">
                                    <p> This browser does not support PDFs. Please download the PDF to view it:
                                        <a href="${path}">Download PDF</a>
                                    </p>
                                </embed>
                            </object>`
                            paste_text = `[PDF Link: ${path}](${path})`
                        } else if (path.endsWith(".mp3")) {
                            paste_text = `[MP3 Link: ${path}](${path})`
                        } else if (path.endsWith(".txt")) {
                            paste_text = `[TXT Link: ${path}](${path})`
                        }

                        // event.target.focus()
                        document.execCommand('insertText', false, paste_text)

                        // Redraw Editor
                        if (!entry_create__monaco.hidden && entry_create__monaco.classList != "overlay") {
                            entry_create__monaco.style.height = "100px"
                            setTimeout(() => entry_create__monaco.style.height = "100%", 50)
                        }
                    }
                }
            }, true)

            function entry_create__add_content(path) {
                const link = document.createElement("a")
                link.href = path
                link.title = path
                link.target = "_blank"
                link.classList = "flex items-start gap-2"
                link.style = `background-image: linear-gradient(rgba(0, 0, 0, var(--darken-amount)), rgba(0, 0, 0, var(--darken-amount))), url('${path}');`

                const del = document.createElement("button")
                del.classList = "tt-icon-button"
                del.style.marginLeft = "auto"
                del.setAttribute("hx-target", "closest a")
                del.setAttribute("hx-swap", "delete")
                del.setAttribute("hx-delete", path)
                del.setAttribute("hx-confirm", `Please confirm the file '${path}' should be deleted`)
                del.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M3 6h18" />
                    <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
                    <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
                </svg>`
                link.appendChild(del)

                entry_create__content.appendChild(link)
                entry_create__content.parentElement.hidden = false
                htmx.process(entry_create__content);
            }
        </script>
    </div>

    <button class="tt-button">
        Submit
    </button>

    <div id="entry_create__response"></div>

</form>

{{ end }}