{{ define "entry_view" }}

<div id="entry_{{.Entry.Id}}" class="grid gap-4">
    <div class="flex items-center gap-4 dim">
        <div class="grow">{{ .Entry.Timestamp }}</div>
        <button class="tt-icon-button dim tt-color-primary-hover" onclick="history.back()" title="Back">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M9 14 4 9l5-5"/>
                <path d="M4 9h10.5a5.5 5.5 0 0 1 5.5 5.5a5.5 5.5 0 0 1-5.5 5.5H11"/>
            </svg>
        </button>
        <a href="/entry-editor?tracker_id={{$.Tracker.Id}}&entry_id={{.Entry.Id}}"
            class="tt-icon-button dim tt-color-yellow-hover" title="View Entry">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path
                    d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
                <path d="m15 5 4 4" />
            </svg>
        </a>
        <a href="/htmx/tracker/log-delete?tracker_id={{$.Tracker.Id}}&entry_id={{.Entry.Id}}"
            class="tt-icon-button dim tt-color-red-hover"
            onclick="return confirm('Are you sure you want to delete this log?')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M3 6h18" />
                <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
                <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
            </svg>
        </a>
    </div>

    {{ range .Entry.Logs }}
    <div class="flex items-center gap-4">
        <div class="dim"> > </div>
        <div>{{ .Present }}</div>
        <label class="dim">{{ .Field_Name }}</label>
    </div>
    {{ end }}

    <div id="entry_notes_{{.Entry.Id}}" class="tt-markdown flow"> {{ render_markdown .Entry.Notes }} </div>
    <div id="entry_notes_{{.Entry.Id}}_raw" hidden> {{ .Entry.Notes }} </div>
</div>

<script>
    var date = new Date(document.getElementById("entry_{{.Entry.Id}}").children[0].children[0].innerText)
    var string = date.toLocaleString().replace(",", "")
    document.getElementById("entry_{{.Entry.Id}}").children[0].children[0].innerText = string
</script>

<br><br>

{{ end }}