{{ define "entry_view" }}

<div id="entry_{{.Entry.Id}}" class="grid gap-4">
    <div class="flex items-center gap-4 dim">
        <div class="grow">{{ .Entry.Timestamp }}</div>
        <button class="tt-icon-button dim tt-color-primary-hover" onclick="history.back()" title="Back">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M9 14 4 9l5-5"/>
                <path d="M4 9h10.5a5.5 5.5 0 0 1 5.5 5.5a5.5 5.5 0 0 1-5.5 5.5H11"/>
            </svg>
        </button>
    </div>

    {{ range .Entry.Logs }}
    <div class="flex items-center gap-4">
        <div class="dim"> > </div>
        <div>{{ .Present }}</div>
        <label class="dim">{{ .Field_Name }}</label>
    </div>
    {{ end }}

    <div id="entry_notes_{{.Entry.Id}}" class="tt-markdown flow"> {{ render_markdown .Entry.Notes }} </div>
    <script>
        var md = document.getElementById("entry_notes_{{.Entry.Id}}")
        var md_count = 0

        for (const child1 of md.children) {
            if (child1.tagName === "UL") {
                for (const child2 of child1.children) {
                    if (child2.tagName === "LI") {
                        if (child2.innerHTML.startsWith("[ ] ") || child2.innerHTML.startsWith("[x] ")) {
                            md_count += 1

                            const div = document.createElement("div")
                            div.classList = "flex items-baseline gap-4"

                            const input = document.createElement("input")
                            input.classList = "tt-input"
                            input.type = "checkbox"
                            input.name = "chx-{{.Entry.Id}}-" + md_count
                            input.id = "chx-{{.Entry.Id}}-" + md_count
                            input.addEventListener("click", event => event.preventDefault())
                            div.appendChild(input)

                            const label = document.createElement("label")
                            label.classList = "tt-label-inline"
                            label.htmlFor = "chx-{{.Entry.Id}}-" + md_count
                            label.innerText = "error label"
                            label.style.fontSize = "var(--font-size)"
                            div.appendChild(label)

                            // Empty Checkbox
                            if (child2.innerHTML.startsWith("[ ] ")) {
                                label.innerText = child2.innerText.replace("[ ] ", "")
                                child2.style.display = "block"
                                child2.innerHTML = ""
                                child2.appendChild(div)
                            }

                            // Checked Checkbox
                            if (child2.innerHTML.startsWith("[x] ")) {
                                const split = child2.innerHTML.split(/<br>(.*)/s)
                                label.innerText = split[0].replace("[x] ", "")
                                input.checked = true
                                child2.style.display = "block"
                                const child3 = document.createElement('div')
                                child2.innerHTML = ""
                                child2.appendChild(div)
                                child2.appendChild(child3)
                                child3.outerHTML = split[1]
                            }
                        }
                    }
                }
            }
        }
    </script>
</div>

<script>
    var date = new Date(document.getElementById("entry_{{.Entry.Id}}").children[0].children[0].innerText)
    var string = date.toLocaleString().replace(",", "")
    document.getElementById("entry_{{.Entry.Id}}").children[0].children[0].innerText = string
</script>

<br><br>

{{ end }}