{{ define "hx_search" }}

<div class="pad-4 grid gap-4">
    <form class="flex gap-4" hx-post="/hx/search" hx-target="#hx_page">
        <input type="search" name="search" id="search" placeholder="search..." class="tt-input grow"
            hx-trigger="input changed delay:500ms, search" hx-target="#hx_search_results"
            hx-post="/hx/search" hx-swap="outerHTML">
    </form>
    <div id="hx_search_results" class="overflow" hx-post="/hx/search" hx-trigger="load">
        ...
    </div>
</div>

{{ end }}