{{ define "hx" }}

<style>
    .tt-dialog>* {
        height: 96svh;
    }

</style>
<dialog id="hx_search_dialog" class="tt-dialog">
    {{ template "hx_search" . }}
</dialog>
<script>
    document.getElementById("hx_search_dialog").addEventListener("pointerdown", event => {
        if (event.target === document.getElementById("hx_search_dialog")) {
            document.getElementById("hx_search_dialog").close()
        }
    })
</script>

<div id="hx_page" class="flex-col grow">
    {{ template "hx_editor" . }}
</div>

{{ end }}