{{ define "monaco" }}

<!-- Load Editor -->
<script>
    var require = { paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.52.0/min/vs' } }
</script>
<link rel="stylesheet" data-name="vs/editor/editor.main"
    href="https://cdn.jsdelivr.net/npm/monaco-editor@0.52.0/min/vs/editor/editor.main.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.52.0/min/vs/loader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.52.0/min/vs/editor/editor.main.js"></script>

<script src="../../public/theme-monaco/monaco-theme-black.js"></script>
<script src="../../public/theme-monaco/monaco-theme-dark.js"></script>
<script src="../../public/theme-monaco/monaco-theme-white.js"></script>

<!-- Editor -->
<div id="monaco"></div>

<style>
    #monaco {
        height: 100%;
        overflow: hidden;
        border: var(--border);
        border-radius: var(--border-radius);
    }

    .monaco-editor {
        /* flash of blue when unhiding */
        --vscode-focusBorder: black !important;
    }
</style>

<script>
    monaco.editor.defineTheme("black", monaco__theme_black);
    monaco.editor.defineTheme("dark", monaco__theme_dark);
    monaco.editor.defineTheme("light", monaco__theme_white);
    monaco.editor.defineTheme("white", monaco__theme_white);

    // monaco.languages.registerInlineCompletionsProvider("markdown", {
    //     provideInlineCompletions: async function (model, position, context, token) {
    //         return Promise.resolve({
    //             items: [
    //                 {
    //                     // "label": "#Money",
    //                     // "sortText": "a",
    //                     "insertText": "#Money",
    //                 },
    //             ]
    //         })
    //     },
    //     freeInlineCompletions(arg) {
    //         console.log('freeInlineCompletions', arg);
    //     }
    // });

    let monaco_theme = 'dark'

    const local_theme = localStorage.getItem("tracker_setting_theme")
    console.log("theme", local_theme)

    if (local_theme == "black.css" || local_theme == "purple.css") {
        monaco_theme = "black"
    } else if (local_theme == "light.css" || local_theme == "pink.css") {
        monaco_theme = "white"
    }

    const monaco__editor = monaco.editor.create(document.getElementById('monaco'), {
        automaticLayout: true,

        theme: monaco_theme,
        minimap: { enabled: false },
        fontSize: "16px",
        lineNumbers: "off",
        folding: false,
        wordWrap: "on",

        value: "",
        language: 'markdown',
        inlineSuggest: {
            enabled: true,
            showToolbar: 'onHover',
            mode: 'subword',
            suppressSuggestions: false,
        },
        suggest: {
            preview: true,
            selectionMode: 'whenQuickSuggestion',
        },
        automaticLayout: true,
    })

    function monaco__value_set(value, language = "markdown") {
        monaco.editor.setModelLanguage(monaco__editor.getModel(), language)
        monaco__editor.setValue(value)
    }

    function monaco__focus() {
        monaco__editor.focus()
    }

    function monaco__value_get() {
        return monaco__editor.getValue()
    }

    function monaco__value_oninput(cb) {
        monaco__editor.getModel().onDidChangeContent((event) => {
            cb(event)
        });
    }

    function monaco__theme_set(theme) {
        monaco.editor.setTheme(theme || "dark")
    }

    function monaco__line_numbers_set(show) {
        monaco__editor.updateOptions({
            lineNumbers: show ? "on" : "off",
            folding: show,
        });
    }

    function monaco__word_wrap_set(bool) {
        monaco__editor.updateOptions({
            wordWrap: bool ? "on" : "off",
        });
    }

    function monaco__font_size_set(number) {
        if (number >= 8 && number <= 36) {
            monaco__editor.updateOptions({ fontSize: number });
        }
    }

</script>

{{ end }}