{{ define "notes" }}

<style>
    .tt-dialog>* {
        height: 90svh;
        max-width: var(--max-width-main);
        margin-inline: auto;
    }
</style>
<dialog id="notes_search_dialog" class="tt-dialog">
    {{ template "notes_search" . }}
</dialog>
<script>
    document.getElementById("notes_search_dialog").addEventListener("pointerdown", event => {
        if (event.target === document.getElementById("notes_search_dialog")) {
            document.getElementById("notes_search_dialog").close()
        }
    })
</script>

<div id="notes_page" class="flex-col grow">
    {{ template "notes_editor" . }}
</div>

{{ end }}