{{ define "notes_search" }}

<div class="pad-4 grid gap-4">
    <div class="flex gap-4">
        <a href="/trackers" class="tt-link">Home</a>
        <a href="/settings" class="tt-link">Settings</a>
        <a href="/notes" class="tt-link">New Entry</a>
        <div class="grow"></div>
        <button class="tt-icon-button tt-color-red-hover" onclick="document.getElementById('notes_search_dialog').close()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M18 6 6 18" />
                <path d="m6 6 12 12" />
            </svg>
        </button>
    </div>
    <form class="flex gap-4" hx-post="/notes/search" hx-target="#notes_page">
        <input autofocus type="search" name="search" id="search" placeholder="search..." class="tt-input grow"
            hx-trigger="input changed delay:500ms, search" hx-target="#notes_search_results" hx-post="/notes/search"
            hx-swap="outerHTML">
    </form>
    <div id="notes_search_results" class="overflow" hx-post="/notes/search" hx-trigger="load">
        ...
    </div>
</div>

{{ end }}