<!DOCTYPE html>
<html lang="en" style="color-scheme: dark;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="tracker app">
    <title>Title</title>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            /* border: 2px solid #5252aa; */
            /* outline: 2px solid #5252aa; */
            -webkit-text-fill-color: #e4e4ff;
            -webkit-box-shadow: 0 0 0px 1000px #3f3f5a inset;
        }
    </style>
</head>

<body class="
    font-sans
    bg-zinc-800
    text-zinc-200
    [&::-webkit-scrollbar]:w-2
    [&::-webkit-scrollbar-track]:bg-zinc-800
    [&::-webkit-scrollbar-thumb]:bg-zinc-700
    [&::-webkit-scrollbar-thumb]:rounded-fullz
">
    <main class="p-4 container mx-auto flex flex-col gap-4">
        <h1 class="text-4xl font-bold text-violet-300">Tracker: {{ .Tracker.Name }}</h1>

        <form class="flex flex-col gap-4" hx-post="/htmx/tracker/record?id={{.Tracker.Id}}" hx-target="#response">
            <div class="flex flex-wrap gap-4 items-end">
                {{ range .Fields }}

                {{ if eq .Type "option" }}
                <div class="flex flex-col gap-1">
                    <label for="field_{{.Id}}" class="block">{{ .Name }}</label>
                    <select id="field_{{.Id}}" name="field_{{.Id}}" 
                        class="h-10 px-3 py-1 rounded-md bg-zinc-700 border-2 border-zinc-600 cursor-pointer focus:outline-none focus:border-zinc-300">
                        {{ $values := .Type_Option.Option_Values }}
                        {{ range $index, $name := .Type_Option.Option_Names }}
                        <option value="{{index $values $index}}">
                            {{index $values $index}} : {{$name}}
                        </option>
                        {{ end }}
                    </select>
                </div>
                {{ else }}
                <div class="grow flex flex-col gap-1">
                    <label for="field_{{.Id}}" class="block">{{ .Name }}</label>
                    <input type="number" name="field_{{.Id}}" id="field_{{.Id}}" step="0.01" placeholder="0" value="" required
                        class="h-10 px-3 py-1 rounded-md bg-zinc-700 border-2 border-zinc-600 placeholder:text-zinc-500 focus:outline-none focus:border-zinc-300" />
                </div>
                {{ end }}

                {{ else }}
                <div class="hidden grow flex flex-col gap-1">
                    <div class="font-thin text-sm text-zinc-400">No data fields...</div>
                </div>
                {{ end }}

                <div class="flex gap-4">
                    <input type="submit" value="Submit Record" class="h-10 ml-auto p-1 px-3 cursor-pointer rounded-md bg-yellow-800 text-yellow-100 border-2 border-yellow-600 focus:outline-none focus:border-zinc-300" />
                </div>
            </div>
            
        </form>

        <h2 class="text-xl font-bold text-violet-300">Records</h2>

        <div class="relative overflow-x-auto rounded-md border-2 border-zinc-600">
            <table class="w-full text-left">
                <thead class="uppercase border-b-2 border-zinc-600 bg-zinc-700">
                    <tr>
                        <th class="px-3 py-2"> Timestamp </th>
                        {{ range .Fields }}
                        <th class="px-3 py-2"> {{ .Name }} </th>
                        {{ end }}
                        <th class="px-3 py-2"> Notes </th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Records }}
                    {{ block "row" . }}
                    <tr class="border-b border-zinc-600 hover:bg-zinc-700">
                        <th class="px-3 py-1 whitespace-nowrap font-mono text-sm font-normal text-zinc-400">{{ .Timestamp }}</th>
                        {{ range .Data }}
                        <td class="px-3 py-1 whitespace-nowrap">{{ . }}</td>
                        {{ end }}
                        <td class="px-3 py-1 whitespace-nowrap">{{ .Notes }}</td>
                    </tr>
                    {{ end }}
                    {{ end }}
                </tbody>
            </table>
        </div>

        <div class="w-full">
            <a href="./trackers" class="block p-1 px-2 text-zinc-400 ml-auto w-fit rounded-md focus:outline-none focus:ring-2 focus:ring-zinc-300">
                Return to Trackers
            </a>
        </div>

        <pre id="response" class="font-mono text-xs overflow-auto text-green-300"></pre>

    </main>
</body>

</html>